@using System
@using System.Collections.Generic
@using System.ComponentModel
@using System.Threading.Tasks
@using EDScenicRouteCoreModels
@using EDScenicRouteWeb.Client.Shared
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using Microsoft.AspNetCore.Blazor.Components

<div class="card border-primary mb-3">
    <div class="card-body ssview">
        <div class="row align-items-center">
            <div class="col-3 col-sm-1 poi-icon-column">
                <span class="@(IconClass) poi-icon"></span>
            </div>
            <div class="col-9 col-sm-4">
                <span class="poi-name">@Item.POI.Name</span>
                <br />
                <span><i>@GalacticPOIEnumConverter.ConvertToString(Item.POI.Type)</i></span>
            </div>
            <div class="col-12 col-sm">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <div class="ssview-info">
                            <span>@ExtraJumps(Item.ExtraDistance), <span class="text-info">@Item.ExtraDistance.ToString("N") Ly</span></span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <div class="progress poi-jumps-bar">
                            <div class="progress-bar progress-bar-striped @ProgressBarColour" role="progressbar" style="width: @DistancePercent%" aria-valuenow="@DistancePercent" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="ssview-info">
                    System:<br />
                    <code id="@(ItemId)" onclick="@(SelectBox)">@Item.POI.GalMapSearch</code>
                </div>
            </div>
            <div class="col">
                <a class="btn btn-info" role="button" href=@Item.POI.GalMapUrl>EDSM Info</a>
            </div>
        </div>
    </div>
</div>

@functions {

    [Parameter]
    ScenicSuggestion Item { get; set; }

    [Parameter]
    float ShipJumpRange { get; set; }

    [Parameter]
    float MaxExtraDistance { get; set; }

    private string ExtraJumps(float distance)
    {
        var jumps = Math.Ceiling(distance / ShipJumpRange);
        return jumps > 1 ? $"{jumps} extra jumps" : "1 extra jump";
    }

    private int DistancePercent
    {
        get { return (int) Math.Round(100f * (Item.ExtraDistance / MaxExtraDistance)); }
    }

    private string ProgressBarColour
    {
        get
        {
            int distancePercent = DistancePercent;
            if (distancePercent > 80)
            {
                return "bg-danger";
            }
            if (distancePercent > 50)
            {
                return "bg-warning";
            }
            return "bg-info";
        }
    }

    private void SelectBox()
    {
        RegisteredFunction.Invoke<bool>("selectbox", ItemId);
    }

    private string IconClass => Item == null ? "" : GalacticPOIIcons.IconClassForGalacticPOIType(Item.POI.Type);

    private string ItemId => $"item{Item?.POI.Id}";
}
