@using System
@using System.Collections.Generic
@using System.ComponentModel
@using System.Threading.Tasks
@using EDScenicRouteCoreModels
@using Microsoft.AspNetCore.Blazor.Browser.Interop

<div class="alert alert-info">
    <ul>
        <li><strong>@Item.POI.Name</strong>, <i>@GalacticPOIEnumConverter.ConvertToString(Item.POI.Type)</i>, System: <code id=@(Item?.POI.Name) @onclick(SelectBox)>@Item.POI.GalMapSearch</code></li>
        <li>@ExtraJumps(Item.ExtraDistance) extra jumps, @Item.ExtraDistance Ly</li>
    </ul>
</div>

@functions {

    public ScenicSuggestion Item { get; set; }

    public float ShipJumpRange { get; set; }

    private string ExtraJumps(float distance)
    {
        return Math.Ceiling(distance / ShipJumpRange).ToString();
    }

    private void SelectBox()
    {
        RegisteredFunction.Invoke<bool>("selectbox", Item?.POI.Name);
    }
}
