@using System
@using System.Collections.Generic
@using System.ComponentModel
@using System.Threading.Tasks
@using EDScenicRouteCoreModels
@using EDScenicRouteWeb.Client.Shared
@using Microsoft.AspNetCore.Blazor.Browser.Interop

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row equal">

       
            <div class="col-xs-1">
                <span class="@(IconClass) poi-icon"></span>
            </div>
            <div class="col-xs-4">
                <span class="poi-name">@Item.POI.Name</span>
                <br />
                <span><i>@GalacticPOIEnumConverter.ConvertToString(Item.POI.Type)</i></span>
            </div>
            <div class="col-sm-3">
                <!--<div class="well-sm">-->
                <div class="row">
                    <p>@ExtraJumps(Item.ExtraDistance), <span class="text-info">@Item.ExtraDistance.ToString("N") Ly</span></p>
                </div>
                <div class="row">
                    <div class="progress progress-striped poi-jumps-bar">
                        <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                    </div>
                </div>
                

            </div>
            <div class="col-sm-4">
                <div class="row equal">
                    <div class="col-md-8">
                        System:<br />
                        <code id=@(Item?.POI.Name) @onclick(SelectBox)>@Item.POI.GalMapSearch</code>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-info" role="button" href=@Item.POI.GalMapUrl>EDSM Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {

    public ScenicSuggestion Item { get; set; }

    public float ShipJumpRange { get; set; }

    private string ExtraJumps(float distance)
    {
        var jumps = Math.Ceiling(distance / ShipJumpRange);
        return jumps > 1 ? $"{jumps} extra jumps" : "1 extra jump";
    }

    private void SelectBox()
    {
        RegisteredFunction.Invoke<bool>("selectbox", Item?.POI.Name);
    }

    private string IconClass => Item == null ? "" : GalacticPOIIcons.IconClassForGalacticPOIType(Item.POI.Type);
}
